header h1{
  background: linear-gradient(90deg, #3498db, #04c9f0); 
  padding: 20px; 
  text-align: center; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: rgb(1, 73, 93);
  font-size: 36px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold; 
  letter-spacing: 2px; 
  text-transform: uppercase; 
  margin: 0;
}

.contenedor {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.Encabezado{
  background: linear-gradient(90deg, #007144, #006108);
  padding: 20px; 
  text-align: center;
  border-radius: 20px;
  width: 500px;
  height: fit-content; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 20px; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold; 
  letter-spacing: 1px;
  margin: 0;
}

/*Estilos para el contenido en Main*/
nav ul {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li{
    list-style-type: none;
    padding: 0 30px; 
    margin: 0 30px;
    display: block;
}

.Secciones {
    background: linear-gradient(90deg, #00fff2, #0453f0);
    overflow: hidden;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.Secciones a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
.Secciones a:hover {
    background-color: #ddd;
    color: black;
  }
  
.Secciones a.active {
    background-color: darkgoldenrod;
    color: white;
  }

.encon{
    display: flex;
    justify-content: center;
    max-width: 100%;
    border-radius: 8px;
}

.margen{
    display: flex;
    background-color: lightyellow;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: auto;
    padding-inline: 12%;
    box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
}

footer {
  grid-area: footer;
  background: linear-gradient(90deg, #3498db, #04c9f0);
  color: black;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  bottom: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
  text-decoration: none;
}

.store-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  min-height: 70vh; 
  justify-content: center; 
}

.products {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.product {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product h2 {
  font-size: 18px;
}

.product button {
  background: linear-gradient(90deg, #007144, #006108);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.product button:hover {
  background: linear-gradient(90deg, #007144, #006108);
}

.cart {
  width: 300px;
  min-height: 300px; 
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin-bottom: 40px; 
}

.cart ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px; 
  flex-grow: 1;
  overflow-y: auto; 
}

.cart li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.cart p {
  font-weight: bold;
  margin-top: 10px;
  margin: 20px 0; 
}

.cart button {
  background: linear-gradient(90deg, #007144, #006108);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.cart button:hover {
  background: linear-gradient(90deg, #00fb97, #02ff17);
}
.boto{
  color: white;
}