body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: lightskyblue;
    padding: 20px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 2.5em;
}

h2 {
    margin: 0;
    font-size: 1.5em;
}


#mensaje-compra {
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5em;
}

.opciones {
    text-align: center;
    margin-top: 20px;
}

.opciones button {
    background-color:  crimson ;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.opciones button:hover {
    background-color:  #f2593d;
}

.opciones a:hover {
    background-color: lightskyblue;
}


.back-button {
    background-color: lightslategray;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

}
